<div class="row">
<h1 class="title">CRUD Brand</h1></div>

<div class="row">
	<div class="container">
		<%= react_component('BrandCollection') %>
		<%= react_component('Brand', {brand: {name: 'aids'}}) %>
	</div>
</div>
