<script>
	clippy.load('Clippy', function(agent){
	  agent.show();
	  agent.speak('It looks like you\'re trying to manage some Brand resources');
	});
</script>

<div class="row">
  <h1 class="title">Manage Clients</h1>
</div>
<br />
<div class="row">
	<div class="container">
		<%= react_component('BrandCollection') %>
	</div>
</div>
